head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title NR
    link(rel="stylesheet", href!= `<?php echo get_stylesheet_uri(); ?>`)