doctype html
html(lang="ja")
    |<?php get_header(); ?>
    |<?php wp_head(); ?>
    body
        h1#test Hello Pug!
        h2 hey hey
        .box
        |<?php get_header(); ?>
        |<?php wp_footer(); ?>